.business-section {
  margin-bottom: 48px;
  display: grid;
  grid-area: 3 / 1 / 4 / 6;
}

.business-section-list {
  height: 570px;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 16px;
  color: var(--white-brand-color);
}

.business-section-item {
  padding: 24px;
  display: grid;
  align-content: space-between;
}

.business-section-item:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  background-image: url('/images/business-section-people-cafe.png');
}
.business-section-item:nth-child(2) {
  background-image: url('/images/business-section-laptops.png');
}
.business-section-item:nth-child(3) {
  background-image: url('/images/business-section-office-people.png');
}
.business-section-item:nth-child(4) {
  grid-column: 2 / 4;
  background-image: url('/images/business-section-light-bulb.png');
}

.business-section-item-label {
  width: 54px;
  height: 22px;
  font-size: 10px;
  display: grid;
  align-items: center;
  justify-items: center;
}

.blue {
  background-color: #0088ff;
}

.mustard {
  background-color: #997c00;
}

.cyan {
  background-color: #49cfe8;
}

.twelve-px {
  font-size: 12px;
}

.ten-px {
  font-size: 10px;
}

.business-section-item-title,
.big-title {
  font-size: 36px;
  font-family: 'Oswald', sans-serif;
}

.medium-title {
  font-size: 24px;
}

.small-title {
  font-size: 14px;
}
