.instagram-section {
  grid-area: 12 / 1 / 13 / 6;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.instagram-image {
  width: 100%;
}

.follow-wrapper {
  position: relative;
}

.follow-image {
  position: absolute;
  width: 50%;
  top: 25%;
  left: 25%;
}
