.recent-section {
  display: grid;
  grid-area: 4 / 5 / 5 / 6;
  grid-template-rows: 44px auto;
  row-gap: 20px;
}

.recent-section-navigation-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-family: var(--second-fons-family);
  font-weight: 500;
}

.recent-section-navigation-item {
  padding-top: 8px;
  padding-bottom: 14px;
  border-bottom: 1px solid #393939;
  cursor: pointer;
}

.recent-section-navigation-item:first-child {
  color: var(--main-brand-color);
  border-bottom: 1px solid var(--main-brand-color);
}

.recent-section-navigation-item:nth-child(2) {
  text-align: center;
}

.recent-section-navigation-item:last-child {
  text-align: end;
}
