.subscribe-section {
  margin-bottom: 25px;
  grid-area: 7 / 5 / 8 / 6;
  background-color: #dedada;
  display: grid;
  align-content: center;
  justify-content: center;
}

.subscribe-heading {
  margin-bottom: 25px;
  font-family: var(--second-fons-family);
  font-weight: 500;
}

.subscribe-input,
.subscribe-button {
  width: 220px;
  height: 40px;
  border: none;
}

.subscribe-input {
  margin-bottom: 10px;
  padding: 10px 52px;
  outline: none;
}

.subscribe-input::placeholder {
  color: #2d2d2d;
  font-size: 12px;
}

.subscribe-button {
  background-color: var(--main-brand-color);
  font-weight: 700;
  color: var(--white-brand-color);
}
