.video-section {
  margin-bottom: 50px;
  grid-area: 10 / 1 / 11 / 5;
  display: grid;
  grid-template-rows: 42px 400px auto;
  grid-template-columns: 1fr;
  row-gap: 25px;
}

.video-navigation {
  border-bottom: 1px solid #393939;
  display: grid;
  grid-template-columns: auto 58px;
  column-gap: 12px;
}

.video-navigation-list {
  grid-template-columns: repeat(5, max-content);
}

.video-main-article {
  height: 400px;
  padding: 25px 25px 52px 25px;
  display: grid;
  grid-template-rows: 24px auto;
  align-content: space-between;
  grid-area: 2 / 1 / 3 / 2;
  color: var(--white-brand-color);
  background-image: url(/images/video-section/screen.png);
}

.video-main-article-label {
  padding: 3px 8px;
  width: 59px;
  color: var(--white-brand-color);
}

.video-main-article-title {
  width: 529px;
  font-weight: 500;
  font-family: var(--second-font-family);
}

.video-content-list {
  grid-area: 3 / 1 / 4 / 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}

.video-image-wrapper {
  margin-bottom: 25px;
  position: relative;
}

.video-article-label {
  padding: 3px 8px;
  position: absolute;
  top: 25px;
  left: 25px;
  color: var(--white-brand-color);
}
